.discount-hidden {
  display: none;
}

.discount-show {
  padding: 0.4rem 1rem;
  background-color: #DFFFEA;
  border-radius: 8px;
  font-family: Cabin;
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 13px;
  letter-spacing: 0.055em;
  display: inline-block;
  color: #126227;
}