.homepage {
  display: flex;

  .aside {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .main {
    width: 75%;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 5rem;
  }

}