.nav {
  display: flex;
  justify-content: space-between;
  padding: 3.4rem 4.5rem;

  .heading {
    font-family: Spinnaker;
    font-style: normal;
    font-weight: normal;
    font-size: 3.2rem;
    line-height: 38px;
    text-align: center;
    color: #5B4696;
    text-transform: uppercase;
    margin-left: 35.3rem;
  }

  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .cart-number {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-color: #53BD6B;
      border-radius: 50%;
      margin-left: 1rem;
  
      font-style: normal;
      font-weight: normal;
      font-size: 1.1rem;
      letter-spacing: 0.055em;
      color: #FFFFFF;
      text-align: center;
  
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .cart-number-hidden {
      display: none;
    }
  }
}